{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="wrapper__headline">
        <div class="headline--centered">
            <h1>{# page.title #}</h1>
        </div>
    </div>

    <div class="whole" markdown="1">
        <div class="half__centered content">
            {# page.content #}

            {% for column in page.content|split('<hr />') %}
            {# for h1 in page.content.find('h1').slice() #}

            {{column}}

            {# set foo = column #}

            {#column|first#}{# just outputs 1st character in column #}

            {% endfor %}
        </div>
    </div>

{% endblock %}
