{# work page template #}
{% extends 'partials/base.html.twig' %}
{% block content %}

{# split page content with --- or <hr/> tag - defined in page admin panel #}
{% set content = page.content|split('<hr />') %}

    <div class="wrapper__headline">
        {{ content[1] }}
    </div>

    <div class="wrapper">
    {# 1 - loop through pages - collection defined in frontmatter of page #}
    {% for project in page.collection %}
        {# may want to omit projects from grid - to make number of projects even #}
        {% set projectmeta = project.header.metadata %}
        {% if projectmeta.omitFromWork != 'yes' %}
            {% include 'partials/dry/projectsquarethumb.html.twig' %}
        {% endif %}
    {% endfor %}
    {# 1 - end page collection loop #}
    </div>

{% endblock %}
